
body {
    background-color: #dddddd !important;
}

.right-bar {
    background-color: dimgrey;
}

#path-micro-off {
    visibility: hidden;
}

#path-camera-off {
    visibility: hidden;
}

.sticky {
    position: fixed;
    bottom: 0;
    right: 0;
}

.containers {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-rows: repeat(auto-fit, 300px);
}

.container {
    display: flex;
}

.vid {
    flex: 0 1 auto;
    height: 90%;
}

.settings {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 2px;
    cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: white; */
}

.room_id {
    position: absolute;
    top: 0;
    z-index: 1;
    display: none;
    background-color: cornsilk;
}

.main {
    background-color: #e9eaf0;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.main__left {
    flex: 0.77;
    display: flex;
    flex-direction: column;
    position: relative;
}

.video_section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 1rem;
    grid-auto-rows: minmax(15rem, auto);
    justify-items: center;
    align-items: center;
    overflow-y: scroll;
    height: 85%;
}

video {
    width: 100%;
    outline: none;
}

.video_options {
    background-color: #1e272d;
    color: #ffffff73;
    height: 100%;
    width: 3.2rem;
}

.menu-icon {
    margin: 20px 10px;
    font-size: 20px;
}

.menu-icon-2{
    font-size: 18px;
    margin: 0rem 1rem;
}

.left-icons {
    padding-right: 35px;
    cursor: pointer;
}

.main__center{
    width: 3.2rem;
    display: none;
}

.fa-phone-alt {
    color: red;
}

.fa-video {
    color: aliceblue;
}

.fa-video-slash {
    color: red;
}

.parent-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: ghostwhite;
}

.parent-icon-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: ghostwhite;
    border-bottom: 1px solid lightgrey;
}

.fa-comment-alt {
    position: relative;
}

.chat_count {
    font-size: 1rem;
    color: #111212;
    position: absolute;
    right: 11px;
    top: 3px;
}

.main__right {
    background-color: #1e272d;
    flex: 0.3;
    display: flex;
    flex-direction: column;
    width: 20vw;
    transition: all 2s ease 2s;
}

.main__header {
    padding: 0.5rem;
    color: white;
    font-weight: bold;
    text-align: left;
    background-color: #1e272d!important;
}

.main__header__title{
    margin-top: 0rem;
    font-size: 1.2rem;
    margin-bottom: 0rem;
}
.main__message_container {
    height: 3rem;
    padding: 0.5rem;
    display: flex;
    background: #000;
    width: 100%;
    margin: auto;
}

.main__message_container input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    width: 90%;
    margin: auto;
}

.fa-paper-plane {
    cursor: pointer;
    margin: 0.5rem;
    color: aliceblue;
}

/* .message {
  padding: 10px;
  margin: 10px;
  width: 100%;
  word-wrap: break-word;
  width: 100%;
  letter-spacing: 0;
} */
.main__chat_window {
    flex-grow: 1;
    overflow-y: auto;
    background-color: #e9eaf0;
    padding-top: 10px;
}

.messages {
    /* color: white; */
    list-style: none;
    padding: 0;
    /* max-width: 100%; */
    /* overflow: auto; */
    word-wrap: break-word;
}

.message__user {
    max-width: 70%;
    width: fit-content;
    display: flex;
    margin: 0.125em 0.25rem 0.125rem auto;
    color: white;
    text-align: left;
    border-radius: 1rem;
    padding: 1rem;
}

.message__other {
    max-width: 70%;
    width: fit-content;
    display: flex;
    /* word-wrap: break-word; */
    margin: 0.1rem 0.25rem 0;
    border-radius: 1rem;
    color: black;
}

.message__userCard p {
    background-color: #4487ce;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
    min-width: 3rem;
    text-align: right;
    height: fit-content;
    padding: 0.3rem;
}

.message__guestCard p {
    background-color: #adadb8;
    border-radius: 0.5rem;
    margin-left: 0.5rem;
    height: fit-content;
    padding: 0.3rem;
    min-width: 3rem;
}


.message__userCard {
    padding: 0rem 0.5rem;
    line-height: 1.35;
}

.message__guestCard {
    padding: 0rem 0.5rem;
    line-height: 1.35;
}

.message__userCard img {
    display: flex;
    justify-content: flex-end;
}


.p-message {
    height: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.3rem;
    margin-bottom: 0.1rem;
    line-height: 1.35;
    max-width: 100%;
}

.screen_sharing {
    display: none;
    position: absolute;
    top: 50px;
    left: 50px;
    border: 1px solid blue;
    color: white;
}

@media only screen and (max-width: 600px) {
    .main__left {
        flex: 1;
    }

    .main__right{
        flex: 0;
        display: none;
    }

    .main__center{
        display: flex;
    }

    .video_section {
        grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    }
}

@media screen and (max-width: 1000px) and (min-width: 600px) {
    .main__left {
        flex: 0.75;
    }

    .main__right {
        flex: 0.25;
    }
}

.menu__top {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.user__avatar_in_chat {
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
    border: 1px solid white;
}
