
body {
    background-color: #dddddd !important;
}

.right-bar {
    background-color: dimgrey;
}

#path-micro-off {
    visibility: hidden;
}

#path-camera-off {
    visibility: hidden;
}

.sticky {
    position: fixed;
    bottom: 0;
    right: 0;
}

.containers {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-rows: repeat(auto-fit, 300px);
}

.container {
    display: flex;
}

.vid {
    flex: 0 1 auto;
    height: 400px;
}

.settings {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 2px;
    cursor: pointer;
}
