
body {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%), url("../img/bg-01.jpg");
    background-repeat: no-repeat;
    z-index: -1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.logo-image {
    width: 6rem;
    height: 4.5rem;
}

.btn-create-room {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0.5rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.btn-create-room i {
    padding-top: 0.25rem;
    margin-right: 0.25rem;
}

.btn-create-room:hover {
    background: linear-gradient(45deg,#00dbde,#fc00ff);
}

.room-num-rooms {
    margin-left: 1rem;
    color: darkgray;
    margin-top: 0.125rem;
}


.card-room {
    background-color: #f7eded ;
    margin: 1rem;
    width: 20rem;
    height: 14rem;
    font-family: 'Ubuntu', sans-serif;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.header-main {
    display: flex;
    justify-content: space-between;
}

.main-title {
    font-size: 2rem;
    text-align: center;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

.header-user {
    text-align: right;
}

.room-search {
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
}

.room-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.room-topic {
    display: flex;
    justify-content: space-between;
}

.room-title__active {
    color: green;
    text-align: center;
    border: 1px dashed;
    border-radius: 0.5rem;
}
.room-title__active:hover {
    color: forestgreen;
    text-align: center;
    border: 2px dashed;
    font-weight: bolder;
    border-radius: 0.5rem;
    background: linear-gradient(45deg,#00dbde,#fc00ff);
}

.room-title__full {
    color: red;
    text-align: center;
    border: 1px dashed;
    font-weight: bold;
    border-radius: 0.5rem;
}

/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.form-control:focus {
    box-shadow: none;
}

.form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
}

.a-search {
    margin-left: -2rem;
    padding-top: 0.75rem;
    text-decoration: none;
}

.input__search {
    border-radius: 1rem;
}

.for__search{
    padding: 0;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .card-room {
        width: 16rem;
        height: 12rem;
    }

}

@media screen and (min-width:768px) and (max-width:992px){
    .card-room {
        width: 18rem;
        height: 12rem;
    }
}


@media screen and (min-width:576px) and (max-width: 768px) {
    .card-room {
        width: 14rem;
        height: 12rem;
        margin-right: 0.5rem;
        margin-left: 0.5rem;
    }
}


@media (max-width: 576px) {
    .card-room {
        width: 30rem;
        height: 12rem;
    }
}


