<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Mariana</title>
    <link
      rel="stylesheet prefetch"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/chunk.css" />
    <link rel="stylesheet" href="/css/chat-room.css" />
  </head>
  <body>
    <div class="right-bar">
      <div class="ant-tabs-nav-wrap">
        <div class="ant-tabs-nav-scroll">
          <div class="ant-tabs-nav ant-tabs-nav-animated">
            <div>
              <div role="tab" aria-disabled="false" aria-selected="false" class="ant-tabs-tab">
                <i style="display: inline-block">
                  <button type="button" class="btn-blind">
                    <span class="ant-badge">
                      <i class="anticon" style="margin: 0px; font-size: 26px">
                        <svg
                          viewBox="-100 -100 1224 1224"
                          data-icon="line"
                          width="1em"
                          height="1em"
                          fill="currentColor"
                          aria-hidden="true"
                          focusable="false"
                        >
                          <path
                            d="M844.565138 794.918843v229.008892L532.162032 794.918843H72.265349a72.265349 72.265349 0 0 1-72.265349-72.26535V144.530699a72.265349 72.265349 0 0 1 72.265349-72.26535h867.184192a72.265349 72.265349 0 0 1 72.26535 72.26535v578.122794a72.265349 72.265349 0 0 1-72.26535 72.26535h-94.884403zM252.928723 289.061397a36.132675 36.132675 0 0 0 0 72.26535h289.061397a36.132675 36.132675 0 0 0 0-72.26535h-289.061397z m0 216.796048a36.132675 36.132675 0 0 0 0 72.26535h505.857445a36.132675 36.132675 0 1 0 0-72.26535h-505.857445z"
                          ></path>
                        </svg>
                      </i>
                      <div class="blind">Chat Box</div>
                    </span>
                  </button>
                </i>
              </div>
              <div role="tab" aria-disabled="false" aria-selected="false" class="ant-tabs-tab">
                <i style="display: inline-block">
                  <button type="button" class="btn-blind">
                    <i class="anticon youtube-btn" style="margin: 0px; font-size: 26px">
                      <svg
                        viewBox="0 0 1024 1024"
                        data-icon="line"
                        width="1em"
                        height="1em"
                        fill="currentColor"
                        aria-hidden="true"
                        focusable="false"
                      >
                        <path
                          d="M1013.76 307.264s-9.984-70.570667-40.704-101.632c-38.933333-40.789333-82.56-41.002667-102.592-43.392C727.168 151.893333 512.213333 151.893333 512.213333 151.893333h-0.426666s-214.954667 0-358.250667 10.346667c-20.010667 2.389333-63.658667 2.602667-102.613333 43.392C20.245333 236.693333 10.24 307.264 10.24 307.264S0 390.122667 0 473.002667v77.674666c0 82.858667 10.24 165.738667 10.24 165.738667s9.984 70.570667 40.704 101.632c38.933333 40.789333 90.112 39.509333 112.896 43.776 81.92 7.850667 348.16 10.282667 348.16 10.282667s215.168-0.32 358.464-10.666667c20.010667-2.410667 63.658667-2.602667 102.613333-43.392 30.698667-31.061333 40.704-101.632 40.704-101.632S1024 633.536 1024 550.677333v-77.674666c0-82.88-10.24-165.738667-10.24-165.738667z"
                          fill="#DC2217"
                        ></path>
                        <path
                          d="M406.293333 644.821333l-0.064-287.722666 276.693334 144.362666-276.629334 143.36z"
                          fill="#FFFFFF"
                        ></path>
                      </svg>
                    </i>
                    <div class="blind">Youtube Share</div>
                  </button>
                </i>
              </div>
              <div role="tab" aria-disabled="false" aria-selected="false" class="ant-tabs-tab">
                <i style="display: inline-block">
                  <button type="button" class="btn-blind">
                    <i class="anticon" style="margin: 0px; font-size: 26px">
                      <svg
                        viewBox="0 0 1024 1024"
                        data-icon="line"
                        width="1em"
                        height="1em"
                        fill="currentColor"
                        aria-hidden="true"
                        focusable="false"
                      >
                        <path
                          d="M853.333333 768c46.933333 0 84.906667-38.4 84.906667-85.333333L938.666667 256c0-47.36-38.4-85.333333-85.333334-85.333333H170.666667c-47.36 0-85.333333 37.973333-85.333334 85.333333v426.666667c0 46.933333 37.973333 85.333333 85.333334 85.333333H0v85.333333h1024v-85.333333h-170.666667z m-298.666666-150.613333v-93.44c-118.613333 0-196.693333 36.266667-256 116.053333 23.893333-113.92 90.026667-227.413333 256-250.453333V298.666667l170.666666 159.146666-170.666666 159.573334z"
                        ></path>
                      </svg>
                    </i>
                    <div class="blind">Screen Share</div>
                  </button>
                </i>
              </div>
              <div role="tab" aria-disabled="false" aria-selected="false" class="ant-tabs-tab">
                <i style="display: inline-block">
                  <button type="button" class="btn-blind">
                    <i class="anticon" style="margin: 0px; font-size: 26px">
                      <svg
                        viewBox="-100 -100 1224 1224"
                        data-icon="line"
                        width="1em"
                        height="1em"
                        fill="currentColor"
                        aria-hidden="true"
                        focusable="false"
                      >
                        <path
                          d="M928 70.4H544V32c0-18.133333-13.866667-32-32-32S480 13.866667 480 32v38.4H96c-18.133333 0-32 13.866667-32 32v536.533333H960V102.4c0-18.133333-13.866667-32-32-32zM992 692.266667H32c-17.066667 0-32 14.933333-32 32 0 18.133333 13.866667 32 32 32h414.933333l-188.8 199.466666c-11.733333 12.8-11.733333 33.066667 1.066667 44.8 12.8 11.733333 33.066667 11.733333 44.8-1.066666l176-185.6v178.133333c0 18.133333 13.866667 32 32 32s32-13.866667 32-32v-178.133333l176 185.6c11.733333 12.8 32 13.866667 44.8 1.066666 12.8-11.733333 13.866667-32 1.066667-44.8l-188.8-199.466666H992c18.133333 0 32-13.866667 32-32s-13.866667-32-32-32z"
                        ></path>
                      </svg>
                    </i>
                    <div class="blind">Whiteboard</div>
                  </button>
                </i>
              </div>
              <div role="tab" aria-disabled="false" aria-selected="false" class="ant-tabs-tab">
                <i style="display: inline-block">
                  <button type="button" class="btn-blind">
                    <i class="anticon" style="margin: 0px; font-size: 26px">
                      <svg
                        viewBox="-200 -200 1424 1424"
                        data-icon="line"
                        width="1em"
                        height="1em"
                        fill="currentColor"
                        aria-hidden="true"
                        focusable="false"
                      >
                        <path
                          d="M887.435636 887.482182h-204.8V1024H1024v-341.317818h-136.564364v204.8z m0-750.917818v204.8H1024V0h-341.317818v136.564364h204.8z m-750.871272 0h204.8V0H0v341.317818h136.564364v-204.8z m0 750.871272v-204.8H0V1024h341.317818v-136.564364h-204.8z"
                        ></path>
                      </svg>
                    </i>
                    <div class="blind">Full Screen</div>
                  </button>
                </i>
              </div>
            </div>
            <div
              class="ant-tabs-ink-bar ant-tabs-ink-bar-animated"
              style="display: none; transform: translate3d(0px, 0px, 0px); top: 0px; height: 0px"
            ></div>
          </div>
        </div>
      </div>
    </div>

  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <!-- <script src="/js/main.js"></script> -->
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
    <script>
      $(function () {
        app.chat('<%= room.id %>', '<%= user.username %>', '<%= user._id %>');
      });
    </script>
  </body>
</html>


  <!-- <div class="row">
          <div class="col-md-6 d-flex flex-row bg-white">
            <div class="d-flex flex-column">
              <div class="controls">
                <a href="/auth/logout" class="logout-btn">Logout</a>
                <a href="/rooms/me" class="rooms-btn">Rooms</a>
              </div>

              <div class="users-list">
                <ul class="list"></ul>
              </div>
            </div>
            <div class="chat">
              <div class="chat-header clearfix">
                <img src="/img/hangout-icon-5.jpg" alt="avatar" />
                <div class="chat-about">
                  <div class="chat-room"><%= room.name %></div>
                  <div class="chat-num-users">User(s)</div>
                </div>
                <i class="fa fa-users"></i>
              </div> -->
    <!-- end chat-header -->

    <!--  <div class="chat-history">
                <ul></ul>
              </div>
               -->
    <!-- end chat-history -->
    <!-- 
              <div class="chat-message clearfix">
                <textarea name="message" placeholder="Type your message" rows="3"></textarea>
                <button type="submit">Send</button>
              </div> -->
    <!-- end chat-message -->
    <!-- end chat -->
    <!--  </div>
          <div class="col-md-6 bg-white" id="show-video">
            <video id="local-video" class="video-small mr-4 ml-4" width="180px" autoplay></video>
            <div class="users-container d-flex flex-row" id="users-container">
              <div id="users"></div>
            </div>
          </div>
        </div>
      </div> -->
    <!-- end container -->